* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 50px;
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
}

ul li a {
    list-style: none;
    display: inline-block;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}